<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>HeartStoneApp</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Fecha: 19/04/2022
      <br>
      Version: 1.0
      <br>
      Autor: jpm99@alu.ua.es
      <br><br>
      <ion-button href="https://twitter.com/jospermarti12" target="_blank">
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-label>Josué Perea Martínez</ion-label>
      </ion-button>
      
    </ion-card-content>
    
  </ion-card>
</ion-content>
