<ion-header>
  <ion-toolbar>
    <ion-title>Card-decks</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Practica1
  <ion-content>
  <ion-list-header>
    <ion-label>Classes</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item *ngFor="let cardDeck of cardDecks">
      <ion-avatar slot="start">
        <img [src]="'../../assets/image/' + cardDeck + '.png'"/>
      </ion-avatar>
      <ion-label>
        <h2> {{cardDeck}} </h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="presentAlertConfirm()">Salir</ion-button>
    </ion-col>
  </ion-row> -->

<ion-content [fullscreen]="true">
  <ion-list>
    <app-card-deck *ngFor="let cardDeck of cardDecks" [myCardDeck]="cardDeck" (clicked)="select($event)"></app-card-deck>  
  </ion-list>
  <p>
    Selected Card decks:
    <span *ngFor="let name of selectedCDs">{{name}}&nbsp;</span>
  </p>
</ion-content>